.grid-container {
    /* Init */
    display: grid;
    /* grid-template-rows: repeat(2, minmax(0px,  auto)); */
    grid-template-columns: 1fr;
    gap: 0.5em;

    /* Positioning */
    margin: auto;
    margin-left: 20%;
    padding: auto;
    justify-content: center;
    align-self: center;

    /* Text styling */
    font-size: clamp(2.5rem, 1.5vw, 3rem); 
    font-weight: lighter;
}

.subgrid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

/*////////////////////////////////////////////  
                SPECIAL CLASSES
////////////////////////////////////////////*/

.inverted-text {
    /* Init */
    color: black;
    background: white;
    mix-blend-mode: screen;

    /* Text styling */
    text-align: center;
    
    /* Positioning */
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    /* Other */
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    cursor: pointer;
}

.inverted-on-hover:hover {
    /* Init */
    color: black;
    background: white;
    mix-blend-mode: screen;
}

.width-50 {
    min-width: 100%;
}

.centered {
    margin: auto;
}

.main-grid-text {
    text-shadow: none;
}

.grid-flex-size {
    flex-basis: 1;
}

/*////////////////////////////////////////////  
            BUTTON BEHAVIOUR
////////////////////////////////////////////*/

.button-container:hover .button {
    transform: translateX(1em);
}

.button-container:hover .arrow {
    filter: opacity(100%);
    transform: rotate(-45deg) translate(0.25em, 0.25em);
    /* -webkit-transform: rotate(-45deg) translateX(1em); */
}

.button-container:hover .animated-encapsulation::after {
    transform: scaleX(100%) scaleY(100%);
}

.button {
    /* Transitions */
    transition: 0.2s ease-out;
}

.blurred-button {
    position: relative;
    display: flex;
    transition: 0.1s ease-in-out;
    height: 100%;
    cursor: pointer;

    backdrop-filter: blur(20px) brightness(90%);
    -webkit-backdrop-filter: blur(20px) brightness(90%);;

    outline: 1px white solid;
    outline-offset: -1px;
}

.blurred-button p {
    margin: auto;
}

.blurred-button:hover {
    outline-offset: 3px;
}


/*////////////////////////////////////////////  
                SMALLER SCREENS
////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
    .grid-container {
        /* Positioning */
        margin: auto;
    }

    .subgrid-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;
    }

    .main-grid-text {
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
    }
}


