.grid-container {
    /* Init */
    display: grid;
    /* grid-template-rows: repeat(2, minmax(0px,  auto)); */
    grid-template-columns: 1fr;
    gap: 0.5em;

    /* Positioning */
    margin: auto;
    margin-left: 20%;
    padding: auto;
    justify-content: center;
    align-self: center;

    /* Text styling */
    font-size: clamp(2.5rem, 1.5vw, 3rem); 
    font-weight: lighter;
    line-height: 1.5em;
}

.subgrid-2 {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */

    display: flex;
    gap: 0.5em;
}

/*////////////////////////////////////////////  
                SPECIAL CLASSES
////////////////////////////////////////////*/

.inverted-text {
    /* Init */
    color: var(--black);
    background: var(--white);
    mix-blend-mode: screen;

    /* Text styling */
    text-align: center;
    
    /* Positioning */
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    /* Other */
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    cursor: pointer;
}

.inverted-on-hover:hover {
    /* Init */
    color: var(--black);
    background: var(--white);
    mix-blend-mode: screen;
}

.width-50 {
    flex-grow: 1;
    flex-basis: 1;
}

.centered {
    margin: auto;
}

.main-grid-text {
    text-shadow: none;
    padding: none;
    margin: none;
    pointer-events: none;
}

.grid-flex-size {
    flex-basis: 1;
}

/*////////////////////////////////////////////  
            BUTTON BEHAVIOUR
////////////////////////////////////////////*/

.button {
    /* Transitions */
    transition: 0.2s ease-out;
}

.blurred-button {
    position: relative;
    display: flex;
    transition: 0.1s ease-in-out;
    height: 100%;
    cursor: pointer;

    backdrop-filter: blur(20px) brightness(90%);
    -webkit-backdrop-filter: blur(20px) brightness(90%);;

    outline: 1px var(--white) solid;
    outline-offset: -1px;
    line-height: auto;
}

.blurred-button p {
    margin: auto;
}

.blurred-button:hover {
    outline-offset: 3px;
}


/*////////////////////////////////////////////  
                SMALLER SCREENS
////////////////////////////////////////////*/
@media screen and (max-width: 992px) {
    .grid-container {
        /* Positioning */
        margin: auto;
    }

    .subgrid-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;
    }

    .main-grid-text {
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
    }

    .inverted-text,
    .blurred-button p {
        padding-top: 0.5em !important;
        padding-bottom: 0.5em !important;
    }

}


