/*////////////////////////////////////////////  
            OFFICIAL TAGS
////////////////////////////////////////////*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

html,
body {
    width: 100vw;
    background: #E7DFDD;
    /* background: #EFEFEF; */
    /* background: #1A2930; */
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 11px;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.25s ease-out;
}

h1, p, a, svg { user-select: none; }

main {
    /* background: none; */
    background: var(--main-background);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    min-height: var(--main-min-width);

    overflow: hidden;
    display: flex;
    position: relative;
    align-content: center;
}

footer { min-height: 25vh; background-color: var(--black); }

/*////////////////////////////////////////////  
            SECTIONS
////////////////////////////////////////////*/

section { min-height: 50vh; }

.section-2 { background: var(--white-2); }

.section-3 { background: var(--white); }

.section-menu { 
    --white: #353535;
    --black: whitesmoke;
    --background: 93, 108, 133;
    /* #825B5B */
    background-image: linear-gradient(0deg, rgb(var(--background), 0.97), rgb(var(--background), 0.97)), url("../images/Seamless_Shapes_2I.jpg");
    background-size: auto;
    background-repeat: repeat;
}

.section-comments {
    /* background: var(--comments-bg); */
    background-image: linear-gradient(0deg, var(--comments-bg), var(--comments-bg)), url("../images/Seamless Shapes.png");
    background-repeat: repeat;
    background-size: contain;
}

.section-header h2 {
    font-size: calc(var(--medium-font) * 1.5);
}

.section-header {
    display: flex;
    flex-direction: column;
}

.section-header img {
    margin: auto;
    margin-top: -11em;
    margin-bottom: -16em;
    filter: grayscale(100%) invert(100%) brightness(1000%) opacity(95%);
    width: 50em;
}

.section-shadow {
    box-shadow: inset 0 5px 20px rgba(0, 0, 0, 0.15);
}

/*////////////////////////////////////////////  
                OTHER
////////////////////////////////////////////*/

input[type=radio] {
    border: 1px solid #fff;
    padding: 0.5em;
    -webkit-appearance: none;
}

input[type=radio]:checked {
    background: whitesmoke no-repeat center center;
    background-size: 9px 9px;
}

/*////////////////////////////////////////////  
                SCROLLBAR
////////////////////////////////////////////*/

/* width */
::-webkit-scrollbar {
    width: 16px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

/*////////////////////////////////////////////  
            SMALLER SCREENS
////////////////////////////////////////////*/


@media screen and (max-width: 992px) {
    main {
        background: var(--mobile-background);
        background-size: cover;
    }
}
