/*////////////////////////////////////////////  
            OFFICIAL TAGS
////////////////////////////////////////////*/

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

html,
body {
    width: 100vw;
    background: #E7DFDD;
    /* background: #EFEFEF; */
    /* background: #1A2930; */
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 11px;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.25s ease-out;
}

h1, p, a, svg { user-select: none; }

main {
    /* background: none; */
    background: var(--main-background);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    min-height: var(--main-min-width);

    overflow: hidden;
    display: flex;
    position: relative;
    align-content: center;
}

footer { min-height: 25vh; background-color: var(--black); }

/*////////////////////////////////////////////  
            SECTIONS
////////////////////////////////////////////*/

section { min-height: 50vh; }

.section-2 { background: var(--white-2); }

.section-3 { background: var(--white); }

.section-comments {
    /* background: var(--comments-bg); */
    background-image: linear-gradient(0deg, var(--comments-bg), var(--comments-bg)), url("../images/Seamless Shapes.png");
    background-repeat: repeat;
    background-size: contain;
}

.section-header {
    font-size: calc(var(--medium-font) * 1.5);
}

/*////////////////////////////////////////////  
                SCROLLBAR
////////////////////////////////////////////*/

/* width */
::-webkit-scrollbar {
    width: 16px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

/*////////////////////////////////////////////  
            SMALLER SCREENS
////////////////////////////////////////////*/


@media screen and (max-width: 992px) {
    main {
        background: var(--mobile-background);
        background-size: cover;
    }
}
