:root {
    --white: #D7CEC7;
    --tint: #565656;
    --accent: #96858F;

    --blur: blur(10px);

    --large-font: clamp(6rem, 6vw, 12rem);
    --medium-font: clamp(2rem, 1.5vw, 3rem);
    --small-font: clamp(1.25rem, 1.25vw, 2rem);
    --smaller-font: clamp(1.2rem, 0.75vw, 2rem);
    --nav-font: clamp(1.25rem, 0.5vw, 1.5rem);

    --white: whitesmoke;
    --white-2: #f1f1ef;
    --black: #0E0B16;
    /* --black: rgb(5, 5, 5); */

    /* --black: whitesmoke;
    --white: rgb(5, 5, 5); */
}